# Introduction to Python: Variables and Data Types

### Python Math
Let's start with some basics: run the following cells to see what they output

Note: a full list of operators supported in python can be found [here](https://www.tutorialspoint.com/python/python_basic_operators.htm)

In [10]:
2 + 1

3

In [12]:
36 - (4 + 1)**2

11

The outputs so far are all **integers** because they are round, whole numbers. 

What happens when run the previous cell with a decimal?

In [9]:
4.0**2

16.0

We get the same answer numerically, but instead of an integer the resulting data type is called a **float**. This is the Pythonic name for a decimal value.

### Creating a Variable in Python

In [14]:
a = 1

In [15]:
a + 1

2

In [13]:
a = a + 2
print(a)

2

### Data Types in Python