# Introduction to Python: Variables and Data Types

### Python Math
Let's start with some basics: run the following cells to see what they output

Note: a full list of operators supported in python can be found [here](https://www.tutorialspoint.com/python/python_basic_operators.htm)

In [ ]:
2 + 1

In [ ]:
36 - (4 + 1)**2

The outputs so far are all **integers** because they are round, whole numbers. 

What happens when run the previous cell with a decimal?

In [ ]:
36 - (4.0 + 1)**2

We get the same answer numerically, but instead of an integer the resulting data type is called a **float**. This is the Pythonic name for a decimal value.

### Creating a Variable in Python

In [19]:
a = 1

In [ ]:
a + 1

Note that we `a = 1` still. What happens when we assign `a = a + 2`?

In [ ]:
a = a + 2
print(a)

Now we have overwritten the previous value of a with a new value!

#### Beware: Python is case sensitive

In [ ]:
N = 20
n = 10
print(N, n)

#### Best practice: 
- Make your variable names descriptive! This will be very important later as our scripts get more complex
- Python convention is that variables are lower case and long variable names are separated by underscore (for example: `my_variable_name`)

### Data Types in Python

- **Numeric types:** integer, float
- **Text:** string
- **Collection of values:** list, array
- **Logical:** boolean (pronounced boo-lee-uhn)

In [3]:
list_of_ones = [int("1"), 1.0,  1, "1.0", bool(1)]

Try to guess the output types before running the cell below:

In [ ]:
for value in list_of_ones:
    print(type(value))

## Part 2: Indexing Variables

Lists are defined with square brackets and delineated by commas. 

They are distinct from another data type called **tuples** which are denoted by ( ) and are immutable (meaning they cannot be changed) once created. 

Let's learn how to index lists (and variables in general)

In [ ]:
my_list = [5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### SILAS -- Please write up markdown/Python cells as needed to explain the following:
- Python starts at index 0
- How to index the nth element
- How to index from the end of a list (i.e. negative indexing)
- How to slice multiple values at once

You can use the `my_list` variable as is above, or change the values as you'd like!

Great! Now we know how to index a list. We can also apply this to strings and tuples:

### SILAS -- Please show that:
- Strings can be indexed the same way as lists (and make note that spaces count as characters)
- Tuples can be indexed this way too
- Show that you can stack indexing (for example, `my_tuple[2] = "love"`, so `my_tuple[2][0] = "l"`)

In [15]:
my_string = "I love Python!"
my_tuple = ("I", " ", "love", " ", "Python", "!")