# Introduction to Data Science: Loading and Visualizing Data

In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Loading Data

### Loading Numeric Data with NumPy

In [28]:
x,y = np.loadtxt('./data/linear_data.txt', unpack=True)

### Abby -- Please describe the delimiter argument and what a delimiter is

What if we want to analyze non-numeric or mixed type data?

### Loading Tabular Data with Pandas

Pandas DataFrames are an extremely powerful tool for analyzing data!

In [24]:
# WINDOWS PATH
#staff_data = pd.read_csv('.\data\fall2024_python_staff.csv')

# MAC PATH
staff_data = pd.read_csv('./data/fall2024_python_staff.csv')

In [25]:
staff_data

,first_name,last_name,major,year,graduated,school,favorite_number
0,Kallee,Gallant,physics,NaN,True,Columbia,9
1,Abby,Pitcairn,computer science,senior,False,University of Southern Maine,7
2,Peter,Fitton,physics,junior,False,University of Southern Maine,1
3,Shreya,Singh,computer science,junior,False,Stanford,3
4,Silas,Pillsbury,philosophy,NaN,True,St. Johns College,6

### Abby -- briefly mention:
- `read_xlsx` exists for Excel spreadsheets
- other parsers for more complex file types exist
- even though the function is `read_csv` you can change the `delimiter` argument to read tab deliminated files etc.

## Indexing DataFrames

### Abby -- please explain and demonstrate the following:
- Compare `df.loc` vs. `df.iloc`
- indexing a whole column using the column name (for example `staff_data.first_name`)
- accessing multiple columns at once (ex. `df.loc[:, ["col1", "col2", "col3"]]` accesses all rows of the named columns)

## Visualizing Data with Matplotlib

### Peter -- Please show an example(s) as necessary for the following:
- plot the x and y values from `linear_data.txt` 
- using `plt.show`
- plot multiple lines on one plot (maybe plt.plot then plt.scatter of the same data?)
- introduce lambda functions then plot output from function (i.e. `plt.plot(x, f(x))`)